<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<!--
    namespace:名称空间

-->
<mapper namespace="com.guanwang.dao.mapper.DeptMapper">
    <resultMap id="deptMap" type="com.guanwang.entity.Dept">
        <!--主键-->
        <id column="d_id" property="dId"/>
        <result column="d_name" property="dName"/>
    </resultMap>
    
    <!-- 查询-->
    <select id="getDeptById" resultMap="deptMap" >
        select * from dept where d_id=#{dId}
    </select>

    <!--关联查询，查询部门时，查询部门下的所有员工-->
    <resultMap id="deptAndEmpMap" type="com.guanwang.entity.Dept">
        <!--主键-->
        <id column="d_id" property="dId"/>
        <result column="d_name" property="dName"/>
        <!--部门对应的员工是一个集合而不是一个对象，则不能使用<assioncation>标签而是使用《conllection>-->
        <collection property="emps" ofType="com.guanwang.entity.Employee">
            <id column="e_id" property="eId"/>
            <result column="username" property="username"/>
            <result column="pwd" property="pwd"/>
            <result column="iphone" property="iphone"/>
            <result column="emaile" property="emaile"/>
            <result column="job_date" property="jobDate"/>
            <result column="address" property="address"/>
        </collection>

    </resultMap>
<!--   public Dept getDeptAndEmpById(int dId);-->
    <select id="getDeptAndEmpById" resultMap="deptAndEmpMap">
        SELECT d.`d_id`,d.`d_name`,e.`e_id`,e.`username`,e.`pwd`,e.`iphone`,e.`emaile`,e.`job_date`,e.`address`
        FROM dept d
        LEFT JOIN employee e
        ON d.`d_id`=e.`d_id`
        WHERE d.`d_id`=#{dId}
    </select>

    <!--分步查询部门对应的所有员工-->
    <!-- public Dept getDeptAndEmpByStep(int dId);-->
    <resultMap id="deptByStempMap" type="com.guanwang.entity.Dept">
        <id column="d_id" property="dId"/>
        <result column="d_name" property="dName"/>
        <collection property="emps"
                    select="com.guanwang.dao.mapper.EmployeeMapper.getEmpByDeptId"
                    column="d_id">
        </collection>
    </resultMap>
    <select id="getDeptAndEmpByStep" resultMap="deptByStempMap">
        select d_id,d_name from dept where d_id=#{dId}
    </select>


</mapper>