<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<!--
    namespace:名称空间

-->
<mapper namespace="com.guanwang.dao.mapper.DeptMapper">
    <resultMap id="deptMap" type="com.guanwang.entity.Dept">
        <!--主键-->
        <id column="d_id" property="dId"/>
        <result column="d_name" property="dName"/>
    </resultMap>
    
    <!-- 查询-->
    <select id="getDeptById" resultMap="deptMap" >
        select * from dept where d_id=#{dId}
    </select>
</mapper>