<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<!--
    namespace:名称空间

-->
<mapper namespace="com.guanwang.dao.mapper.EmployeeMapper">
    <!--查询-->
    <select id="selectEmployeeById" resultType="com.guanwang.entity.Employee">
    select * from employee where e_id = #{eId}
  </select>
    <!--增加-->
    <insert id="addEmployee">
        insert into employee(username,pwd,iphone,emaile,job_date,address)
        values(#{username},#{pwd},#{iphone},#{emaile},#{jobDate},#{address});
    </insert>

    <!--更新-->
    <update id="updateEmplyee" >
        update employee set username=#{username},pwd=#{pwd},iphone=#{iphone},emaile=#{emaile},
        job_date=#{jobDate},address=#{address}
        where e_id=#{eId}
    </update>

    <!--删除-->
    <delete id="delEmployee">
        delete from employee where e_id=#{eId}
    </delete>
</mapper>