<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<!--
    namespace:名称空间

-->
<mapper namespace="com.guanwang.dao.mapper.EmployeeMapper">

    <!--根据部门Id查询部门下的所有员工 public List<Employee> getEmpByDeptId(int dId);-->

    <select id="getEmpByDeptId" resultType="com.guanwang.entity.Employee">
        select * from employee where d_id=#{dId}
    </select>

    <!--自定义返回值resultMap，级联属性-->
    <resultMap id="myMap" type="com.guanwang.entity.Employee">
        <!--主键-->
        <id column="e_id" property="eId"/>
        <result column="username" property="username"/>
        <result column="pwd" property="pwd"/>
        <result column="iphone" property="iphone"/>
        <result column="emaile" property="emaile"/>
        <result column="job_date" property="jobDate"/>
        <result column="address" property="address"/>
        <result column="d_id" property="dept.dId"/>
        <result column="d_name" property="dept.dName"/>
    </resultMap>


    <!--分步查询-->
    <resultMap id="stepMap" type="com.guanwang.entity.Employee">
        <!--主键-->
        <id column="e_id" property="eId"/>
        <result column="username" property="username"/>
        <result column="pwd" property="pwd"/>
        <result column="iphone" property="iphone"/>
        <result column="emaile" property="emaile"/>
        <result column="job_date" property="jobDate"/>
        <result column="address" property="address"/>
        <association property="dept"
                     select="com.guanwang.dao.mapper.DeptMapper.getDeptById"
                     column="d_id">
        </association>
    </resultMap>
    <select id="getEmpByStep" resultMap="stepMap" >
        select e.e_id,e.username,e.pwd,e.iphone,e.emaile,e.address,e.d_id from employee e where e.e_id=#{eId}

    </select>




    <!--嵌套查询-->
    <resultMap id="associcationMap" type="com.guanwang.entity.Employee">
        <!--主键-->
        <id column="e_id" property="eId"/>
        <result column="username" property="username"/>
        <result column="pwd" property="pwd"/>
        <result column="iphone" property="iphone"/>
        <result column="emaile" property="emaile"/>
        <result column="job_date" property="jobDate"/>
        <result column="address" property="address"/>
        <association property="dept" javaType="com.guanwang.entity.Dept">
            <id column="d_id" property="dId"/>
            <result column="d_name" property="dName"/>
        </association>
    </resultMap>
    <!--联合查询的另外一种方式-->
    <select id="getEmployeeAndDeptById" resultMap="associcationMap" >
        select e.e_id,e.username,e.pwd,e.iphone,e.emaile,e.address,d.d_id,d.d_name  from employee e ,dept d
        where e.e_id=d.d_id and e.e_id=#{eId}
    </select>

    <!--联合查询，员工信息和与之对应的部门信息-->
    <select id="getEmpAndDeptById" resultMap="myMap" >
        select e.e_id,e.username,e.pwd,e.iphone,e.emaile,e.address,d.d_id,d.d_name  from employee e ,dept d
        where e.e_id=d.d_id and e.e_id=#{eId}
    </select>

    <!--查询,自定义返回值resultMap-->
    <select id="selectEmpById" resultMap="myMap">
    select * from employee where e_id = #{eId}
  </select>

    <!--   public Map<Integer,Employee> getEmpMapByName(String name);-->
<select id="getEmpMapByName" resultType="com.guanwang.entity.Employee">
    select *from employee where username like #{name}
</select>


    <!-- public Map<String ,Object> getEmpMapById(int  eId);-->
    <select id="getEmpMapById" resultType="map">
        select * from employee where e_id=#{eId}
    </select>

    <!-- public List<Employee> getEmpListByName(String name);-->
    <select id="getEmpListByName" resultType="com.guanwang.entity.Employee">
        select * from employee where username like #{name}
    </select>


    <!--添加动态SQl语句-->
   <!--   public Employee selectEmpMap(Map<String ,Object> map);-->
    <select id="selectEmpMap" resultType="com.guanwang.entity.Employee">
        select * from employee
        where
        <if test="eId!=null">
             e_id=#{eId}
        </if>
        <if test="username!=null and username!=''">
            and username like #{username}
        </if>
        <if test="iphone!=null and iphone!=''">
            and iphone=#{iphone}
        </if>
    </select>

    <!--查询-->
    <select id="selectEmployeeById" resultType="com.guanwang.entity.Employee">
    select * from employee where e_id = #{eId}
  </select>
    <!--增加-->
    <!--获取自增主键 属性useGeneratedKeys  keyProperty-->
    <insert id="addEmployee" useGeneratedKeys="true" keyProperty="eId">
        insert into employee(username,pwd,iphone,emaile,job_date,address)
        values(#{username},#{pwd},#{iphone},#{emaile},#{jobDate},#{address});
    </insert>

    <!--更新-->
    <update id="updateEmplyee" >
        update employee set username=#{username},pwd=#{pwd},iphone=#{iphone},emaile=#{emaile},
        job_date=#{jobDate},address=#{address}
        where e_id=#{eId}
    </update>

    <!--删除-->
    <delete id="delEmployee">
        delete from employee where e_id=#{eId}
    </delete>
</mapper>